.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.imagecontainer {
  height: 80%;
  width: 7%;
  position: relative;
}

@media (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .imagecontainer {
    height: 80%;
    width: 7%;
    position: relative;
  }
}

@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .imagecontainer {
    height: 80%;
    width: 7%;
    position: relative;
  }
}

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .imagecontainer {
    height: 60%;
    width: 5%;
    position: relative;
  }
}
