.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
}

.backgroundImage {
  z-index: 0;
  opacity: 0.5;
}

.navbar {
  height: 7%;
  width: 100%;
  z-index: 5;
}

.main {
  height: 86%;
  width: 100%;
  z-index: 5;
}

.footer {
  height: 7%;
  width: 100%;
  z-index: 5;
}

@media screen and (max-width: 767px) {
  .container {
    flex-direction: column-reverse;
  }
}
