@import url("https://fonts.googleapis.com/css2?family=Charmonman&family=Montez&family=Montserrat&family=Roboto&family=Sacramento&family=WindSong&display=swap");

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}

.petdog {
  position: absolute;
  top: 7vh;
  left: 87vw;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 25%;
  border: 5px solid;
  border-image: repeating-linear-gradient(45deg, #0070f3, pink 4%) 15;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  background-color: white;

  &:hover {
    background-image: url("/the-little-things-working.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 80%;
  width: 60%;
  padding: 0 15px;
  font-family: "Roboto", "Montserrat", sans-serif;
  font-size: 1.3rem;
  text-align: justify;
  border: 5px solid;
  border-image: repeating-linear-gradient(
      45deg,
      #0070f3,
      hsl(350, 100%, 88%) 4%
    )
    15;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  background-color: white;

  p {
    padding: 0;
    margin: 1% 0;
  }
}

.toolsone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.toolstwo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 42%;
}

.toolsthree {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 10%;
}

.tool {
  font-weight: bold;
  color: #0070f3;

  &:hover {
    text-shadow: 2px 2px hsl(350, 100%, 88%);
  }
}

.links {
  font-weight: bold;
  color: #0070f3;

  &:hover {
    text-decoration: underline;
  }
}

.resumebutton {
  position: absolute;
  top: 75.7vh;
  left: 84.5vw;
  height: 50px;
  width: 145px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 13px 0 0;
  margin: 0;
  font-size: 1.5rem;
  background-color: #0070f3;
  border: 2px solid #0070f3;
  border-radius: 15px;
  transition: all 0.4s;
  animation: pulse-blue 2s infinite;

  &:hover {
    cursor: pointer;
    background-color: white;
    color: #0070f3;
  }
}

.resumeicon {
  width: 45%;
  height: 45%;
  margin: 0;
  padding: 0;
}

.resumetext {
  margin: 0;
  padding: 0;
}

@media (max-width: 1200px) {
  .petdog {
    display: none;
  }

  .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 30%;
    border: 5px solid;
    border-image: repeating-linear-gradient(45deg, #0070f3, pink 4%) 15;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

    &:hover {
      background-image: url("/the-little-things-working.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 85%;
    width: 60%;
    padding: 0 15px;
    font-family: "Roboto", "Montserrat", sans-serif;
    font-size: 1.3rem;
    text-align: justify;
    border: 5px solid;
    border-image: repeating-linear-gradient(
        45deg,
        #0070f3,
        hsl(350, 100%, 88%) 4%
      )
      15;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

    p {
      padding: 0;
      margin: 1% 0;
    }
  }

  .toolsone {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
  }

  .toolstwo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
  }

  .toolsthree {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 20%;
  }

  .tool {
    font-weight: bold;
    padding: 0 10.5px 0 0;
    color: #0070f3;

    &:touch {
      text-shadow: 2px 2px hsl(350, 100%, 88%);
    }
  }

  .links {
    font-weight: bold;
    color: #0070f3;

    &:hover {
      text-decoration: underline;
    }
  }

  .resumebutton {
    position: absolute;
    top: 77.5vh;
    left: 80vw;
    height: 50px;
    width: 145px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 13px 0 0;
    margin: 0;
    font-size: 1.5rem;
    background-color: #0070f3;
    border: 2px solid #0070f3;
    border-radius: 15px;
    transition: all 0.4s;
    animation: pulse-blue 2s infinite;

    &:hover {
      cursor: pointer;
      background-color: white;
      color: #0070f3;
    }
  }

  .resumeicon {
    width: 45%;
    height: 45%;
    margin: 0;
    padding: 0;
  }

  .resumetext {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .petdog {
    display: none;
  }

  .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 25%;
    border: 5px solid #0070f3;
    border-image: repeating-linear-gradient(45deg, #0070f3, pink 4%) 15;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 90%;
    width: 60%;
    padding: 0 10px;
    font-family: "Roboto", "Montserrat", sans-serif;
    font-size: 0.75rem;
    text-align: justify;
    border: 5px solid #0070f3;
    border-image: repeating-linear-gradient(
        45deg,
        #0070f3,
        hsl(350, 100%, 88%) 4%
      )
      15;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

    p {
      padding: 0;
      margin: 0.35% 0;
    }
  }

  .toolsone {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }

  .toolstwo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 60%;
  }

  .toolsthree {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 20%;
  }

  .tool {
    font-weight: bold;
    color: #0070f3;
  }

  .links {
    font-weight: bold;
    color: #0070f3;
  }

  .resumebutton {
    position: absolute;
    top: 72vh;
    left: 87vw;
    height: 45px;
    width: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    background-color: #0070f3;
    border: 2px solid #0070f3;
    border-radius: 50%;
    transition: all 0.4s;
    animation: pulse-blue 2s infinite;
  }

  .resumeicon {
    width: 45%;
    height: 45%;
    margin: 0;
    padding: 0;
  }

  .resumetext {
    display: none;
  }
}

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .petdog {
    display: none;
  }

  .image {
    height: 30%;
    width: 55%;
    border-radius: 50%;
    border: 2px solid #0070f3;
    box-shadow: 0 4px 8px 0 rgba(0, 112, 243, 0.5),
      0 6px 20px 0 rgba(0, 112, 243, 0.5);
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 60%;
    width: 90%;
    padding: 4px 8px;
    font-family: "Roboto", "Montserrat", "sans-serif";
    font-size: 0.8rem;
    text-align: justify;
    border: 2px solid #0070f3;
    box-shadow: 0 4px 8px 0 rgba(0, 112, 243, 0.5),
      0 6px 20px 0 rgba(0, 112, 243, 0.5);

    p {
      margin: 0;
      padding: 4px 0;
      word-wrap: break-word;
    }
  }

  .toolsone {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }

  .toolstwo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 85%;
  }

  .toolsthree {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 10%;
  }

  .tool {
    font-weight: bold;
    color: #0070f3;
    margin-right: 2.5%;
  }

  .links {
    color: #0070f3;
  }

  .resumebutton {
    position: absolute;
    top: 79.5vh;
    left: 76vw;
    height: 55px;
    width: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    background-color: #0070f3;
    border: 2px solid #0070f3;
    border-radius: 50%;
    transition: all 0.4s;
    animation: pulse-blue 2s infinite;
  }

  .resumeicon {
    width: 47%;
    height: 47%;
    margin: 0;
    padding: 0;
  }

  .resumetext {
    display: none;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse-blue {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
  }
}
