@import url("https://fonts.googleapis.com/css2?family=Charmonman&family=Montez&family=Montserrat&family=Roboto&family=Sacramento&family=WindSong&display=swap");

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: space-evenly;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.projecttitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 5%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "WindSong", cursive;
  // font-family: "Sacramento", cursive;
  font-weight: lighter;
}

.projectgroup {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 85%;
  width: 100%;
}

.project {
  height: 80%;
  width: 22%;
  border-radius: 10px;
  background-color: black;
  margin: 0;
  padding: 0;

  span {
    margin: 0;
    padding: 0;
  }

  i {
    visibility: hidden;
    color: red;
    margin: 0;
    padding: 0;
  }

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;

    i {
      visibility: visible;
    }
  }
}

.projectimage {
  display: block;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
  height: 90%;
  width: 100%;
  object-fit: cover;
}

.projectcaption {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  color: white;
  padding: 0;
  margin: 0;
  transition: all 0.6s;
}

.projectbutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  height: 10%;
  width: 100%;
}

.showall {
  height: 65%;
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  background-color: #0070f3;
  border: 2px solid #0070f3;
  border-radius: 15px;
  transition: all 0.4s;

  &:hover {
    cursor: pointer;
    background-color: white;
    color: #0070f3;
  }
}

.showallicon {
  width: 60%;
  height: 60%;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
